
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    line-height: 2;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;

}
h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  font-style: oblique;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
padding: 10px;
}

body {
  color: #40514E;
   margin: 0;
   text-align: center;
  font-family: 'Reggae One', cursive;

}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;

}

a{
color: #11999e;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
color: #eaf6f6;

}
.intro{
width: 30%;
margin: auto;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
/* 100% = 16px */
.pro {
  color: red;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  width: 55%;
bottom: 250px;
}
hr{
  border: dotted #Eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin-top: 100px;
  margin-bottom: 100px;

}
.top-cloud {
  position: absolute;
  left: 45%;
  width: 55%;
  top: 500px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
p{
    line-height: 2;
}
.code-img{
  width: 35%;
  float: left;
  margin-right: 30px;
}
.thunderstone-img{
  width: 40%;
  float: right;
  margin-left: 30px;
}

.mountain{
  width: 100%;
}

.thunderbolt:hover{
color:#ffefa1;
  background-color: #ffc75f;
    border-radius: 15px;
}
.quickattack:hover{
color: #eae3c8;
  background-color: #ffc75f;
    border-radius: 15px;
}
.surf:hover{
color:  #a4ebf3;
  background-color: #ffc75f;
  border-radius: 15px;
}
.irontail:hover{
  color: #f6f6f6;
  background-color: #ffc75f;
    border-radius: 15px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.copyright{
color: #eaf6f6;
font-size: 0.75rem;
padding: 20px 0;

}
.btn:hover {
  background: #d1c81e;
  background-image: -webkit-linear-gradient(top, #d1c81e, #e8e087);
  background-image: -moz-linear-gradient(top, #d1c81e, #e8e087);
  background-image: -ms-linear-gradient(top, #d1c81e, #e8e087);
  background-image: -o-linear-gradient(top, #d1c81e, #e8e087);
  background-image: linear-gradient(to bottom, #d1c81e, #e8e087);
  text-decoration: none;
}
